body {
  font-family: "Andika", cursive;
}
form {

}
h1,
h4,
h5 {
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: medium;
  position: relative;
  color: #007bff;
  top: -8px;
  text-decoration: none;
}

footer{
text-align:center ;
}

a:hover {
  color: #1c4b7d;
  text-decoration: underline;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 60px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #337cdc;
  border-radius: 5px;
}

.Precipitation {

}
.btn {
  
}
.row {
  
}
.col-2 {
  
}
.col-3 {
  
}

.col-1 {
 
}
.row-cols-md-6 {
 
}
.rainy {
  right: -48px;
}
.snow {
  right: -65px;
}
.sun-cloud {
  right: -68px;
}
.wen {
  right: -5px;
}
.thr {
  right: -25px;
}

.emoji {
  border: 0.5px solid rgb(28, 78, 241);
  padding: 15px 19px;
  border-radius: 100px;
  position: relative;
  font-size: 30px;
}
